.error-container {
  border: 2px solid;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 50%;
  height: 180px;
  font-size: 24px;
  padding-top: 20px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.error-button {
  margin-top: 60px;
  padding: 10px;
}
